@model QPricingManager.Core.Entities.PricingTier

@{
    ViewBag.Title = "Details";
}
<div class="panel panel-primary panel-no-borders">
    <div class="panel-heading heading-botton-margin">
        <h4>Pricing Tier &frasl; Details</h4>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pricing.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pricing.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderInPricing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderInPricing)
        </dd>
    </dl>
    <div class="panel-footer">
        <a class="btn btn-default" href="@Url.Action("Index", "PricingTier")"><i class="glyphicon glyphicon-list"></i><span>&nbsp;Back to list</span></a>
        <a class="btn btn-default pull-left" href="@Url.Action("Edit", new { id = Model.Id })"><span>Edit</span></a>
    </div>
</div>